<!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
      </div>
      <div class="social-links d-none d-md-block">
        <i class="bi">환영합니다. [   ] 님.&nbsp;&nbsp;</i>
        <a href="#" class=""><i class="bi">Join</i></a>
        <a href="#" class=""><i class="bi">Login</i></a>
        <a href="#" class=""><i class="bi">Logout</i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">KGUniv</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">대학교 메인</a></li>
          <li class="dropdown"><a href="/greeting"><span>대학교 소개</span> <i class="bi bi-chevron-down active"></i></a>
            <ul>
              <li><a href="/greeting">인사말</a></li>
              <li><a href="/gethere">오시는길</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/schedule"><span>학사정보</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/schedule">학사일정</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/graduate"><span>입학안내</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/graduate">대학교</a></li>
              <li><a href="/master">대학원</a></li>
              <li><a href="/lifelong">평생교육원</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/board/notice"><span>커뮤니티</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/board/notice">공지사항</a></li>
              <li><a href="/board/news">KG대학뉴스</a></li>
              <li><a href="/board/free">자유게시판</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->