{% load static %} 
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-flex align-items-center">
      <div class="containers">
        <h3>KG University</h3>
        <p>KG 그룹 산하 KG 대학교.</p>
        <p>TEL : 02-2222-2222 / 02-2222-3333</p>
        <div class="copyright">
          &copy; Copyright <strong><span>KG University</span></strong>. 2022 All Rights Reserved.
        </div>
      </div>
      <div class="sitemap me-auto">	
        <ul class="depth_1 first">
          <li class="depth_1 first">      
            <ul class="depth_2 ">
              <li class="">
                <a class="depth_2" href="/greeting">대학교 소개</a>
                <ul class="depth_3 ">
                  <li class="depth_3 first"><span></span><span></span>
                    <a class="depth_3" href="/greeting">인사말</a>
                  </li>
                  <li class="depth_3"><span></span><span></span>
                    <a class="depth_3" href="/gethere">오시는길</a>
                </li>
              </ul>        
              </li>
              <li class="">
                <a class="depth_2" href="/schedule"> 학사정보</a>
                <ul class="depth_3 ">
                  <li class="depth_3 first"><span></span><span></span>
                    <a class="depth_3" href="/schedule">학사일정</a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a class="depth_2" href="/graduate">입학안내</a>
                <ul class="depth_3 ">
                  <li class="depth_3 first"><span></span><span></span>
                    <a class="depth_3" href="/graduate">대학교</a>
                  </li>
                  <li class="depth_3"><span></span><span></span>
                    <a class="depth_3" href="/master">대학원</a>
                  </li>
                  <li class="depth_3"><span></span><span></span>
                    <a class="depth_3" href="/lifelong">평생교육원</a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a class="depth_2" href="/board/notice">커뮤니티</a>
                <ul class="depth_3 ">
                  <li class="depth_3 first"><span></span><span></span>
                    <a class="depth_3" href="/board/notice">공지사항</a>
                  </li>
                  <li class="depth_3"><span></span><span></span>
                    <a class="depth_3" href="/board/free">자유게시판</a>
                  </li>
                </ul>
              </li>                    
            </ul>
          </li>
        </ul>      
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>